.white-text {
  color: #fff;
}

.background-purple {
  background-color: #4c2676;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.flex-end {
  justify-content: flex-end;
}

.button-save {
  text-transform: uppercase;
  border-radius: 5px;
  height: 40px;
}

.height-30 {
  height: 30px;
}

.image {
  width: 100%;
}

label,
input,
.block {
  display: block;
  width: 100%;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.capitalize {
  text-transform: capitalize;
}

.padding {
  padding-left: 10px;
  padding-top: 30px;
}

.switch:hover {
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.margin-20 {
  margin: 20px;
}

.inline-block {
  display: inline-block;
}

.space-between {
  justify-content: space-between;
}

#entries {
  text-decoration: none;
  font-size: larger;
}

.margin-float {
  margin-top: 1.4em;
  float: right;
}
