.white-text {
  color: #fff;
}

.background-purple {
  background-color: #4c2676;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.flex-end {
  flex-direction: row-reverse;
}

.button-save {
  text-transform: uppercase;
  border-radius: 5px;
  height: 40px;
}

.height-30 {
  height: 30px;
}

.image {
  width: 100%;
}

label,
input {
  display: block;
  width: 100%;
}

.margin-top-15 {
  margin-top: 15px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.capitalize {
  text-transform: capitalize;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.switch:hover {
  cursor: pointer;
}
